<.header>
  My Dashboard
  <.subtitle> Total number of posts: <%= @numPosts %> </.subtitle>
  <:actions>
    <.link navigate={~p"/posts/new"}>
      <.button>Create a New Post</.button>
    </.link>
	<.link navigate={~p"/posts"}>
      <.button>List All Posts</.button>
    </.link>
  </:actions>
</.header>
